/****** Objeto: Table [dbo].[Canchas] Fecha de script: 17/06/2026 10:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canchas](
	[ID_CANCHA] [char](10) NOT NULL,
	[ID_DUEÑO] [char](10) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](150) NULL,
	[PRECIO_BASE] [decimal](8, 2) NOT NULL,
	[PRECIO_PRIME] [decimal](8, 2) NOT NULL,
	[PRECIO_BAJA] [decimal](8, 2) NOT NULL,
	[ESTADO] [varchar](20) NOT NULL,
	[FECHA_CREA] [date] NOT NULL,
	[ID_Local] [char](10) NOT NULL,
 CONSTRAINT [PK_Canchas] PRIMARY KEY CLUSTERED 
(
	[ID_CANCHA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[COMPROBANTES] Fecha de script: 17/06/2026 10:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPROBANTES](
	[ID_COMPROB] [char](10) NOT NULL,
	[NMR_COMPROB] [nvarchar](20) NOT NULL,
	[RUTA_PDF] [nvarchar](100) NOT NULL,
	[FECHA_GENER] [date] NOT NULL,
	[ID_RESERVA] [char](10) NOT NULL,
	[ID_USER] [char](10) NOT NULL,
 CONSTRAINT [PK_Comprobantes] PRIMARY KEY CLUSTERED 
(
	[ID_COMPROB] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Comprobantes_Nro] UNIQUE NONCLUSTERED 
(
	[NMR_COMPROB] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Dueño] Fecha de script: 17/06/2026 10:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dueño](
	[ID_DUEÑO] [char](10) NOT NULL,
	[ID_USER] [char](10) NOT NULL,
	[RUC] [varchar](11) NULL,
	[RAZON_SOCIAL] [varchar](100) NULL,
	[CCI] [varchar](50) NOT NULL,
	[BANCO] [varchar](50) NULL,
	[ESTADO] [varchar](20) NOT NULL,
	[FECHA_AFILIACION] [date] NOT NULL,
 CONSTRAINT [PK_Dueño] PRIMARY KEY CLUSTERED 
(
	[ID_DUEÑO] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FOTOS_CANCHA] Fecha de script: 17/06/2026 10:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOTOS_CANCHA](
	[ID_FOTO] [char](10) NOT NULL,
	[ID_CANCHA] [char](10) NOT NULL,
	[ID_DUEÑO] [char](10) NOT NULL,
	[URL_Foto] [varchar](200) NOT NULL,
	[FECHA_SUB] [date] NOT NULL,
 CONSTRAINT [PK_Fotos] PRIMARY KEY CLUSTERED 
(
	[ID_FOTO] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[HORARIOS] Fecha de script: 17/06/2026 10:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORARIOS](
	[ID_HORARIO] [char](10) NOT NULL,
	[ID_CANCHA] [char](10) NOT NULL,
	[ID_DUEÑO] [char](10) NOT NULL,
	[DIA_SEMANA] [int] NOT NULL,
	[FECHA_INICIO] [date] NOT NULL,
	[FECHA_FIN] [date] NOT NULL,
	[TIPO_PRECIO] [varchar](20) NOT NULL,
	[ESTADO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Horarios] PRIMARY KEY CLUSTERED 
(
	[ID_HORARIO] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Liquidacion] Fecha de script: 17/06/2026 10:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Liquidacion](
	[ID_LIQUID] [char](10) NOT NULL,
	[ID_DUEÑO] [char](10) NOT NULL,
	[FECHA_INICIO] [date] NOT NULL,
	[FECHA_FIN] [date] NOT NULL,
	[MONTO_BRUTO] [decimal](8, 2) NOT NULL,
	[COMISION_PGO] [decimal](8, 2) NOT NULL,
	[MONTO_NETO] [decimal](8, 2) NOT NULL,
	[NRO_OPERAC] [varchar](50) NULL,
	[FECHA_TRANSF] [datetime] NULL,
	[ESTADO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Liquidacion] PRIMARY KEY CLUSTERED 
(
	[ID_LIQUID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Local] Fecha de script: 17/06/2026 10:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Local](
	[ID_Local] [char](10) NOT NULL,
	[ID_Dueño] [char](10) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Direccion] [varchar](150) NOT NULL,
	[Distrito] [varchar](50) NOT NULL,
	[Referencia] [varchar](200) NULL,
	[Estado] [varchar](20) NOT NULL,
	[Fecha_Crea] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Local] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[OFERTA] Fecha de script: 17/06/2026 10:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OFERTA](
	[ID_OFERTA] [char](10) NOT NULL,
	[ID_CANCHA] [char](10) NOT NULL,
	[ID_DUEÑO] [char](10) NOT NULL,
	[PORCEN_DESC] [int] NOT NULL,
	[PREC_OFERT] [decimal](8, 2) NOT NULL,
	[ESTADO] [varchar](20) NOT NULL,
	[Fecha_Expira] [datetime] NOT NULL,
	[Fecha_Crea] [date] NOT NULL,
	[Fecha_Inicio] [datetime] NULL,
 CONSTRAINT [PK_Oferta] PRIMARY KEY CLUSTERED 
(
	[ID_OFERTA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PAGOS] Fecha de script: 17/06/2026 10:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGOS](
	[ID_PAGO] [char](10) NOT NULL,
	[CULQI_CHARGE_ID] [nvarchar](100) NOT NULL,
	[MONTO] [decimal](8, 2) NOT NULL,
	[ESTADO] [varchar](20) NOT NULL,
	[CULQI_RESPONSE] [varchar](50) NULL,
	[FECHA_PROCES] [date] NOT NULL,
	[ID_RESERVA] [char](10) NOT NULL,
	[ID_USER] [char](10) NOT NULL,
 CONSTRAINT [PK_Pagos] PRIMARY KEY CLUSTERED 
(
	[ID_PAGO] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Pagos_ChargeId] UNIQUE NONCLUSTERED 
(
	[CULQI_CHARGE_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[REEMBOLSO] Fecha de script: 17/06/2026 10:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REEMBOLSO](
	[ID_REEMBOLSO] [char](10) NOT NULL,
	[CULQI_REFUND_ID] [varchar](20) NULL,
	[ZONA] [varchar](20) NOT NULL,
	[INTENTOS] [int] NOT NULL,
	[FECHA_CREA] [date] NOT NULL,
	[FECHA_PROCES] [date] NULL,
	[ID_PAGO] [char](10) NOT NULL,
 CONSTRAINT [PK_Reembolso] PRIMARY KEY CLUSTERED 
(
	[ID_REEMBOLSO] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RESERVAS] Fecha de script: 17/06/2026 10:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVAS](
	[ID_RESERVA] [char](10) NOT NULL,
	[ID_USER] [char](10) NOT NULL,
	[PRECIO_BASE] [decimal](8, 2) NOT NULL,
	[Comi_Qr] [decimal](8, 2) NOT NULL,
	[MONTO_TOTAL] [decimal](8, 2) NOT NULL,
	[ESTADO] [varchar](20) NOT NULL,
	[FECHA_CREA] [date] NOT NULL,
	[FECHA_CONFIR] [date] NULL,
	[FECHA_CANCEL] [date] NULL,
	[ZONA_CANCELA] [varchar](20) NULL,
	[PORCEN_REEMB] [int] NULL,
	[ID_SLOTS] [char](10) NOT NULL,
	[ID_HORARIO] [char](10) NOT NULL,
	[ID_CANCHA] [char](10) NOT NULL,
	[ID_DUEÑO] [char](10) NOT NULL,
 CONSTRAINT [PK_Reservas] PRIMARY KEY CLUSTERED 
(
	[ID_RESERVA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[REVIEWS] Fecha de script: 17/06/2026 10:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVIEWS](
	[ID_REVIEW] [char](10) NOT NULL,
	[ID_USER] [char](10) NOT NULL,
	[ID_CANCHA] [char](10) NOT NULL,
	[ID_DUEÑO] [char](10) NOT NULL,
	[CALIFICACION] [int] NOT NULL,
	[COMENTARIOS] [varchar](200) NULL,
	[Fecha_Crea] [date] NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[ID_REVIEW] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[SLOTS] Fecha de script: 17/06/2026 10:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLOTS](
	[ID_SLOTS] [char](10) NOT NULL,
	[ID_HORARIO] [char](10) NOT NULL,
	[ID_CANCHA] [char](10) NOT NULL,
	[ID_DUEÑO] [char](10) NOT NULL,
	[FECHA] [date] NOT NULL,
	[ESTADO] [varchar](20) NOT NULL,
	[FECHA_BLOCK] [datetime] NULL,
	[FECHA_EXPIRA] [datetime] NULL,
	[Hora_Inicio] [time](7) NOT NULL,
	[Hora_Fin] [time](7) NOT NULL,
 CONSTRAINT [PK_Slots] PRIMARY KEY CLUSTERED 
(
	[ID_SLOTS] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[SUSCRIPCION] Fecha de script: 17/06/2026 10:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUSCRIPCION](
	[ID_SUB] [char](10) NOT NULL,
	[ID_DUEÑO] [char](10) NOT NULL,
	[Plan] [varchar](20) NOT NULL,
	[PRECIO_MENS] [decimal](8, 2) NOT NULL,
	[CANTIDAD_CANCH] [int] NOT NULL,
	[FECHA_INICIO] [date] NOT NULL,
	[FECHA_FIN] [datetime] NULL,
	[ESTADO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Suscripcion] PRIMARY KEY CLUSTERED 
(
	[ID_SUB] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TOKENS_RECUP] Fecha de script: 17/06/2026 10:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOKENS_RECUP](
	[ID_TOKNS] [char](10) NOT NULL,
	[ID_USER] [char](10) NOT NULL,
	[TOKEN] [nvarchar](200) NOT NULL,
	[FECHA_EXPIRA] [date] NOT NULL,
	[ESTADO] [varchar](20) NOT NULL,
	[FECHA_CREA] [date] NOT NULL,
 CONSTRAINT [PK_Tokens] PRIMARY KEY CLUSTERED 
(
	[ID_TOKNS] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 17/06/2026 10:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID_USER] [char](10) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[PSW_HSH] [varchar](100) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[TELEFONO] [varchar](12) NULL,
	[ROL] [varchar](20) NOT NULL,
	[ESTADO] [varchar](20) NOT NULL,
	[FECHA_CREA] [date] NOT NULL,
	[TOKEN_VERSION] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuario_Email] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Canchas] ADD  CONSTRAINT [DF_Canchas_Estado]  DEFAULT ('DISPONIBLE') FOR [ESTADO]
GO
ALTER TABLE [dbo].[Canchas] ADD  DEFAULT (getdate()) FOR [FECHA_CREA]
GO
ALTER TABLE [dbo].[COMPROBANTES] ADD  DEFAULT (getdate()) FOR [FECHA_GENER]
GO
ALTER TABLE [dbo].[Dueño] ADD  CONSTRAINT [DF_Dueño_Estado]  DEFAULT ('ACTIVO') FOR [ESTADO]
GO
ALTER TABLE [dbo].[Dueño] ADD  DEFAULT (getdate()) FOR [FECHA_AFILIACION]
GO
ALTER TABLE [dbo].[FOTOS_CANCHA] ADD  DEFAULT (getdate()) FOR [FECHA_SUB]
GO
ALTER TABLE [dbo].[HORARIOS] ADD  DEFAULT ('activo') FOR [ESTADO]
GO
ALTER TABLE [dbo].[Liquidacion] ADD  DEFAULT ('pendiente') FOR [ESTADO]
GO
ALTER TABLE [dbo].[Local] ADD  DEFAULT ('ACTIVO') FOR [Estado]
GO
ALTER TABLE [dbo].[Local] ADD  DEFAULT (getdate()) FOR [Fecha_Crea]
GO
ALTER TABLE [dbo].[OFERTA] ADD  CONSTRAINT [DF_Oferta_Estado]  DEFAULT ('ACTIVO') FOR [ESTADO]
GO
ALTER TABLE [dbo].[OFERTA] ADD  DEFAULT (getdate()) FOR [Fecha_Crea]
GO
ALTER TABLE [dbo].[PAGOS] ADD  DEFAULT ('pendiente') FOR [ESTADO]
GO
ALTER TABLE [dbo].[PAGOS] ADD  DEFAULT (getdate()) FOR [FECHA_PROCES]
GO
ALTER TABLE [dbo].[REEMBOLSO] ADD  DEFAULT ((0)) FOR [INTENTOS]
GO
ALTER TABLE [dbo].[REEMBOLSO] ADD  DEFAULT (getdate()) FOR [FECHA_CREA]
GO
ALTER TABLE [dbo].[RESERVAS] ADD  CONSTRAINT [DF_Reservas_Estado]  DEFAULT ('PENDIENTE') FOR [ESTADO]
GO
ALTER TABLE [dbo].[RESERVAS] ADD  DEFAULT (getdate()) FOR [FECHA_CREA]
GO
ALTER TABLE [dbo].[REVIEWS] ADD  DEFAULT (getdate()) FOR [Fecha_Crea]
GO
ALTER TABLE [dbo].[SLOTS] ADD  CONSTRAINT [DF_Slots_Estado]  DEFAULT ('DISPONIBLE') FOR [ESTADO]
GO
ALTER TABLE [dbo].[SLOTS] ADD  DEFAULT ('00:00') FOR [Hora_Inicio]
GO
ALTER TABLE [dbo].[SLOTS] ADD  DEFAULT ('00:00') FOR [Hora_Fin]
GO
ALTER TABLE [dbo].[SUSCRIPCION] ADD  CONSTRAINT [DF_Suscripcion_Estado]  DEFAULT ('ACTIVO') FOR [ESTADO]
GO
ALTER TABLE [dbo].[TOKENS_RECUP] ADD  DEFAULT ('pendiente') FOR [ESTADO]
GO
ALTER TABLE [dbo].[TOKENS_RECUP] ADD  DEFAULT (getdate()) FOR [FECHA_CREA]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_Estado]  DEFAULT ('ACTIVO') FOR [ESTADO]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [FECHA_CREA]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [TOKEN_VERSION]
GO
ALTER TABLE [dbo].[Canchas]  WITH CHECK ADD  CONSTRAINT [FK_Canchas_Dueño] FOREIGN KEY([ID_DUEÑO])
REFERENCES [dbo].[Dueño] ([ID_DUEÑO])
GO
ALTER TABLE [dbo].[Canchas] CHECK CONSTRAINT [FK_Canchas_Dueño]
GO
ALTER TABLE [dbo].[Canchas]  WITH CHECK ADD  CONSTRAINT [FK_Canchas_Local] FOREIGN KEY([ID_Local])
REFERENCES [dbo].[Local] ([ID_Local])
GO
ALTER TABLE [dbo].[Canchas] CHECK CONSTRAINT [FK_Canchas_Local]
GO
ALTER TABLE [dbo].[COMPROBANTES]  WITH CHECK ADD  CONSTRAINT [FK_Comprobantes_Reserva] FOREIGN KEY([ID_RESERVA])
REFERENCES [dbo].[RESERVAS] ([ID_RESERVA])
GO
ALTER TABLE [dbo].[COMPROBANTES] CHECK CONSTRAINT [FK_Comprobantes_Reserva]
GO
ALTER TABLE [dbo].[COMPROBANTES]  WITH CHECK ADD  CONSTRAINT [FK_Comprobantes_User] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[Usuario] ([ID_USER])
GO
ALTER TABLE [dbo].[COMPROBANTES] CHECK CONSTRAINT [FK_Comprobantes_User]
GO
ALTER TABLE [dbo].[Dueño]  WITH CHECK ADD  CONSTRAINT [FK_Dueño_User] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[Usuario] ([ID_USER])
GO
ALTER TABLE [dbo].[Dueño] CHECK CONSTRAINT [FK_Dueño_User]
GO
ALTER TABLE [dbo].[FOTOS_CANCHA]  WITH CHECK ADD  CONSTRAINT [FK_Fotos_Cancha] FOREIGN KEY([ID_CANCHA])
REFERENCES [dbo].[Canchas] ([ID_CANCHA])
GO
ALTER TABLE [dbo].[FOTOS_CANCHA] CHECK CONSTRAINT [FK_Fotos_Cancha]
GO
ALTER TABLE [dbo].[FOTOS_CANCHA]  WITH CHECK ADD  CONSTRAINT [FK_Fotos_Dueño] FOREIGN KEY([ID_DUEÑO])
REFERENCES [dbo].[Dueño] ([ID_DUEÑO])
GO
ALTER TABLE [dbo].[FOTOS_CANCHA] CHECK CONSTRAINT [FK_Fotos_Dueño]
GO
ALTER TABLE [dbo].[HORARIOS]  WITH CHECK ADD  CONSTRAINT [FK_Horarios_Cancha] FOREIGN KEY([ID_CANCHA])
REFERENCES [dbo].[Canchas] ([ID_CANCHA])
GO
ALTER TABLE [dbo].[HORARIOS] CHECK CONSTRAINT [FK_Horarios_Cancha]
GO
ALTER TABLE [dbo].[HORARIOS]  WITH CHECK ADD  CONSTRAINT [FK_Horarios_Dueño] FOREIGN KEY([ID_DUEÑO])
REFERENCES [dbo].[Dueño] ([ID_DUEÑO])
GO
ALTER TABLE [dbo].[HORARIOS] CHECK CONSTRAINT [FK_Horarios_Dueño]
GO
ALTER TABLE [dbo].[Liquidacion]  WITH CHECK ADD  CONSTRAINT [FK_Liquidacion_Dueño] FOREIGN KEY([ID_DUEÑO])
REFERENCES [dbo].[Dueño] ([ID_DUEÑO])
GO
ALTER TABLE [dbo].[Liquidacion] CHECK CONSTRAINT [FK_Liquidacion_Dueño]
GO
ALTER TABLE [dbo].[Local]  WITH CHECK ADD FOREIGN KEY([ID_Dueño])
REFERENCES [dbo].[Dueño] ([ID_DUEÑO])
GO
ALTER TABLE [dbo].[OFERTA]  WITH CHECK ADD  CONSTRAINT [FK_Oferta_Cancha] FOREIGN KEY([ID_CANCHA])
REFERENCES [dbo].[Canchas] ([ID_CANCHA])
GO
ALTER TABLE [dbo].[OFERTA] CHECK CONSTRAINT [FK_Oferta_Cancha]
GO
ALTER TABLE [dbo].[OFERTA]  WITH CHECK ADD  CONSTRAINT [FK_Oferta_Dueño] FOREIGN KEY([ID_DUEÑO])
REFERENCES [dbo].[Dueño] ([ID_DUEÑO])
GO
ALTER TABLE [dbo].[OFERTA] CHECK CONSTRAINT [FK_Oferta_Dueño]
GO
ALTER TABLE [dbo].[PAGOS]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Reserva] FOREIGN KEY([ID_RESERVA])
REFERENCES [dbo].[RESERVAS] ([ID_RESERVA])
GO
ALTER TABLE [dbo].[PAGOS] CHECK CONSTRAINT [FK_Pagos_Reserva]
GO
ALTER TABLE [dbo].[PAGOS]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_User] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[Usuario] ([ID_USER])
GO
ALTER TABLE [dbo].[PAGOS] CHECK CONSTRAINT [FK_Pagos_User]
GO
ALTER TABLE [dbo].[REEMBOLSO]  WITH CHECK ADD  CONSTRAINT [FK_Reembolso_Pago] FOREIGN KEY([ID_PAGO])
REFERENCES [dbo].[PAGOS] ([ID_PAGO])
GO
ALTER TABLE [dbo].[REEMBOLSO] CHECK CONSTRAINT [FK_Reembolso_Pago]
GO
ALTER TABLE [dbo].[RESERVAS]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Cancha] FOREIGN KEY([ID_CANCHA])
REFERENCES [dbo].[Canchas] ([ID_CANCHA])
GO
ALTER TABLE [dbo].[RESERVAS] CHECK CONSTRAINT [FK_Reservas_Cancha]
GO
ALTER TABLE [dbo].[RESERVAS]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Dueño] FOREIGN KEY([ID_DUEÑO])
REFERENCES [dbo].[Dueño] ([ID_DUEÑO])
GO
ALTER TABLE [dbo].[RESERVAS] CHECK CONSTRAINT [FK_Reservas_Dueño]
GO
ALTER TABLE [dbo].[RESERVAS]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Horario] FOREIGN KEY([ID_HORARIO])
REFERENCES [dbo].[HORARIOS] ([ID_HORARIO])
GO
ALTER TABLE [dbo].[RESERVAS] CHECK CONSTRAINT [FK_Reservas_Horario]
GO
ALTER TABLE [dbo].[RESERVAS]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Slots] FOREIGN KEY([ID_SLOTS])
REFERENCES [dbo].[SLOTS] ([ID_SLOTS])
GO
ALTER TABLE [dbo].[RESERVAS] CHECK CONSTRAINT [FK_Reservas_Slots]
GO
ALTER TABLE [dbo].[RESERVAS]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_User] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[Usuario] ([ID_USER])
GO
ALTER TABLE [dbo].[RESERVAS] CHECK CONSTRAINT [FK_Reservas_User]
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Cancha] FOREIGN KEY([ID_CANCHA])
REFERENCES [dbo].[Canchas] ([ID_CANCHA])
GO
ALTER TABLE [dbo].[REVIEWS] CHECK CONSTRAINT [FK_Reviews_Cancha]
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Dueño] FOREIGN KEY([ID_DUEÑO])
REFERENCES [dbo].[Dueño] ([ID_DUEÑO])
GO
ALTER TABLE [dbo].[REVIEWS] CHECK CONSTRAINT [FK_Reviews_Dueño]
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_User] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[Usuario] ([ID_USER])
GO
ALTER TABLE [dbo].[REVIEWS] CHECK CONSTRAINT [FK_Reviews_User]
GO
ALTER TABLE [dbo].[SLOTS]  WITH CHECK ADD  CONSTRAINT [FK_Slots_Cancha] FOREIGN KEY([ID_CANCHA])
REFERENCES [dbo].[Canchas] ([ID_CANCHA])
GO
ALTER TABLE [dbo].[SLOTS] CHECK CONSTRAINT [FK_Slots_Cancha]
GO
ALTER TABLE [dbo].[SLOTS]  WITH CHECK ADD  CONSTRAINT [FK_Slots_Dueño] FOREIGN KEY([ID_DUEÑO])
REFERENCES [dbo].[Dueño] ([ID_DUEÑO])
GO
ALTER TABLE [dbo].[SLOTS] CHECK CONSTRAINT [FK_Slots_Dueño]
GO
ALTER TABLE [dbo].[SLOTS]  WITH CHECK ADD  CONSTRAINT [FK_Slots_Horario] FOREIGN KEY([ID_HORARIO])
REFERENCES [dbo].[HORARIOS] ([ID_HORARIO])
GO
ALTER TABLE [dbo].[SLOTS] CHECK CONSTRAINT [FK_Slots_Horario]
GO
ALTER TABLE [dbo].[SUSCRIPCION]  WITH CHECK ADD  CONSTRAINT [FK_Suscripcion_Dueño] FOREIGN KEY([ID_DUEÑO])
REFERENCES [dbo].[Dueño] ([ID_DUEÑO])
GO
ALTER TABLE [dbo].[SUSCRIPCION] CHECK CONSTRAINT [FK_Suscripcion_Dueño]
GO
ALTER TABLE [dbo].[TOKENS_RECUP]  WITH CHECK ADD  CONSTRAINT [FK_Tokens_User] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[Usuario] ([ID_USER])
GO
ALTER TABLE [dbo].[TOKENS_RECUP] CHECK CONSTRAINT [FK_Tokens_User]
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD  CONSTRAINT [CK_Reviews_Cal] CHECK  (([CALIFICACION]>=(1) AND [CALIFICACION]<=(5)))
GO
ALTER TABLE [dbo].[REVIEWS] CHECK CONSTRAINT [CK_Reviews_Cal]
GO
